*{
        margin: 0;
        padding: 0;
       /* font-family: 'Poppins', sans-serif;*/
        border: border-box;
}
body{
 height: 270rem;
 background-size: cover;
 background-repeat: no-repeat;
}

.navbar{
    height: 5rem;
    background-size: cover;
    /* width: 100vw; */
    background-color: #545454;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    background-image: url(./pic/front.jpg);
    height: 54px;
    width: 54px;
    margin-left: 1rem;
    border-radius: 50px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 10px;
    cursor: pointer;
}

.name{
    font-size: 10px;
    letter-spacing: 1px;
    font-family: 'Borel',cursive;
    color: white;
    border: 1.5px solid transparent;
    margin-left: 2rem;
    margin-top: 0.8rem;
    padding: 10px 10px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}

.insta{
    font-size: 10px;
    font-family: 'Borel',cursive;
     /* font-family: 'Edu SA Beginner', cursive; */
    color: white;
    border: 1.5px solid transparent;
    margin-left: 30rem;
    margin-top: 0.8rem;
    padding: 14px;
    cursor: pointer;
}
.insta:hover{
    border: 1.5px solid white;
    border-radius: 9px;
}

.port{
    font-size: 10px;
    font-family: 'Borel',cursive;
     /* font-family: 'Edu SA Beginner', cursive; */
    color: white;
    border: 1.5px solid transparent;
    margin-left: 2rem;
    margin-top: 0.8rem;
    padding: 10px;
    cursor: pointer;
}
.port:hover{
    border: 1.5px solid white;
    border-radius: 9px;
}

.link{
    font-size: 10px;
    font-family: 'Borel',cursive;
     /* font-family: 'Edu SA Beginner', cursive; */
    color: white;
    border: 1.5px solid transparent;
    margin-left: 2rem;
    margin-top: 0.8rem;
    padding: 10px;
    cursor: pointer;
}
.link:hover{
    border: 1.5px solid white;
    border-radius: 9px;
}

.middle{
    margin-top: 0px;
    height: 270rem;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to right,pink 0%, pink 50%, paleturquoise 50%, paleturquoise 100%);
    /* background: black; */
}
.mid-first{
    font-family: 'Edu SA Beginner', cursive;
    /* font-family: 'Borel',cursive; */
    font-size: 30px;
    color: #413f39;
    margin-top: 35px;
    margin-left: 30px;
    position: absolute;
  }

.circle{
    width: 100px;
    height: 34px;
    background: pink;
    margin-top: 1rem;
    margin-left: 73rem;
    border-radius: 0%;
    position: fixed;
    cursor: pointer;
     /* z-index: -1;  */
}

 .chat{
    font-family: 'Borel',cursive;
    font-weight: 800px;
    color: white;
    font-size: 10px;
    width: inherit;
    height: auto;
    top: 50%;
    margin-top: 2px;
    text-align: center;
    position: fixed absolute;
}


.img-1{
    background-image: url(./pic/3.png);
    width: 420px;
    height: 278px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 6rem;
    margin-top: 15rem ;
    background-size: cover;
    cursor:pointer;
     /* z-index: 1; */
}

.img-1:hover{
    border: 1px solid white;
}

.img-2{
    background-image: url(./pic/4.png);
    width: 420px;
    height: 400px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 6rem;
    margin-top: 41.8rem ;
    background-size: cover;
    cursor:pointer;
    /* z-index: 1; */
}
.img-2:hover{
    border: 1px solid white;
}

.img-3{
    background-image: url(./pic/5.png);
    width: 420px;
    height: 400px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 6rem;
    margin-top: 77rem ;
    background-size: cover;
    cursor:pointer;
    /* z-index: 1; */
}
.img-3:hover{
    border: 1px solid white;
}

.img-4{
    background-image: url(./pic/6.png);
    width: 420px;
    height: 404px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 6rem;
    margin-top: 114rem ;
    background-size: cover;
    cursor:pointer;
    /* z-index: 1; */
}
.img-4:hover{
    border: 1px solid white;
}

.img-5{
    background-image: url(./pic/7.png);
    width: 420px;
    height: 400px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 6rem;
    margin-top: 151rem ;
    background-size: cover;
    cursor:pointer;
    /* z-index: 1; */
}
.img-5:hover{
    border: 1px solid white;
}

.img-6{
    background-image: url(./pic/1.png);
    width: 420px;
    height: 400px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 6rem;
    margin-top: 188rem ;
    background-size: cover;
    cursor:pointer;
    /* z-index: 1; */
}
.img-6:hover{
    border: 1px solid white;
}

.img-7{
    background-image: url(./pic/9.png);
    width: 420px;
    height: 415px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 6rem;
    margin-top: 223rem ;
    background-size: cover;
    cursor:pointer;
    /* z-index: 1; */
}
.img-7:hover{
    border: 1px solid white;
}

.img-11{
    background-image: url(./pic/10.png);
    width: 420px;
    height: 420px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 47rem;
    margin-top: 15rem ;
    background-size: cover;
    cursor:pointer;
    /* z-index: 1; */
}
.img-11:hover{
    border: 1px solid white;
}

.img-12{
    background-image: url(./pic/11.png);
    width: 420px;
    height: 411px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 47rem;
    margin-top: 51rem ;
    background-size: cover;
    cursor:pointer;
    /* z-index: 1; */
}
.img-12:hover{
    border: 1px solid white;
}

.img-13{
    background-image: url(./pic/12.png);
    width: 420px;
    height: 420px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 47rem;
    margin-top: 87rem ;
    background-size: cover;
    cursor:pointer;
    /* z-index: 1; */
}
.img-13:hover{
    border: 1px solid white;
}

.img-14{
    background-image: url(./pic/13.png);
    width: 420px;
    height: 415px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 47rem;
    margin-top: 121rem ;
    background-size: cover;
    cursor:pointer;
    /* z-index: 1; */
}
.img-14:hover{
    border: 1px solid white;
}

.img-15{
    background-image: url(./pic/14.png);
    width: 420px;
    height: 418px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 47rem;
    margin-top: 157rem ;
    background-size: cover;
    cursor:pointer;
    /* z-index: 1; */
}
.img-15:hover{
    border: 1px solid white;
}

.img-16{
    background-image: url(./pic/15.png);
    width: 420px;
    height: 420px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 47rem;
    margin-top: 193rem ;
    background-size: cover;
    cursor:pointer;
    /* z-index: 1; */
}
.img-16:hover{
    border: 1px solid white;
}

.img-17{
    background-image: url(./pic/16.png);
    width: 420px;
    height: 410px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 47rem;
    margin-top: 228rem ;
    background-size: cover;
    cursor:pointer;
    /* z-index: 1; */
}
.img-17:hover{
    border: 1px solid white;
}


.last{
    background-color: #545454;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.foot{
    color: white;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       position: relative;
    text-align: center;
    padding: 15px 3px;
}
